.banner {
    background: url(../../images/confidencepill.jpeg);
    color: white;
    padding: 200px 0px; /* Corrigé de 'paddding' à 'padding' */
    background-size: cover; /* Change 'cover' à 'contain' */
    background-position: top;
    background-repeat: no-repeat; /* Pour éviter que l'image se répète */
}

.banner h1{
  font-size: 30px;
}


.banner h2{
  font-size: 30px;
  font-weight: lighter;
  margin-bottom: 40px;
  opacity: 0,8;

}

